$warm_black: #3A3845;
$beig_peach: #F7CCAC;
$light_brown:#C69B7B;
$dark_brown: #826F66;
$neautral_800: #3A3845;
$neautral_700: #595667;
$neautral_600: #807F86;
$neautral_500: #A6A6A8;
$neautral_400: #CAC9CF;
$neautral_300: #E5E5E5;
$neautral_200: #F7F6F5;
$neautral_100: #FFFFFF;