$warm_black: #3a3845;
$beig_peach: #f7ccac;
$light_brown: #c69b7b;
$dark_brown: #826f66;
$neautral_800: #3a3845;
$neautral_700: #595667;
$neautral_600: #807f86;
$neautral_500: #a6a6a8;
$neautral_400: #cac9cf;
$neautral_300: #e5e5e5;
$neautral_200: #f7f6f5;
$neautral_100: #ffffff;

$colors: (
	warm_black: $warm_black,
	beig_peach: $beig_peach,
	light_brown: $light_brown,
	dark_brown: $dark_brown,
	neautral_800: $neautral_800,
	neautral_700: $neautral_700,
	neautral_600: $neautral_600,
	neautral_500: $neautral_500,
	neautral_400: $neautral_400,
	neautral_300: $neautral_300,
	neautral_200: $neautral_200,
	neautral_100: $neautral_100,
);
