// Font sizes for headings
$font-heading-12: 96px;
$font-heading-11: 72px;
$font-heading-10: 60px;
$font-heading-9: 48px;
$font-heading-8: 36px;
$font-heading-7: 30px;
$font-heading-6: 24px;

// Line heights for headings
$line-height-heading-12: 96px;
$line-height-heading-11: 72px;
$line-height-heading-10: 60px;
$line-height-heading-9: 48px;
$line-height-heading-8: 40px;
$line-height-heading-7: 36px;
$line-height-heading-6: 32px;
